<h1>List </h1>
<ul>

<% @array.each do |v| %>
    <li>
        <%= "List: #{v}" %>
    </li>
<% end %>

</ul>

<%= "Id: #{@id}" %>
<br/>
<%= "Page: #{@page}" %>
<br/>
<%= link_to("Home page with parameter",{action: 'index', page: 1, id: 5} ) %>